
<div>
  <h2>This is for you, teacher</h2>
  <h4>You should:</h4>
  <h3>
    <%= @output %>
  </h3>

  <h3>
    <div id="items_grid" >
      <%= render partial: 'show', remote: true %>
    </div>
  </h3>

</div>
